.overlay{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    z-index:2;
    width:50%;
    padding:1em;
    background:#fff;
    border-radius: 20px;
}

.closeBtn{
    font-size: 20px;
    font-weight: bold;
    padding:10px 30px;
    border-radius: 30px;
    background-color:gainsboro;
}

.closeBtn:hover{
    color:#fff;
    background-color: #24d;    
    cursor:pointer;
}

.finsMsg{
    font-size:28px;
}