/*
.overlay{
    display: flex;
    align-items: center;
    justify-content: center;
}
*/

.content{
    position: fixed;
    top:300px;
    left: 250px;
    z-index:3;
    padding:1em;
    width:300px;
    background:#fff;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.closeBtn{
    font-size: 20px;
    font-weight: bold;
    padding:10px 30px;
    border-radius: 30px;
    background-color:gainsboro;
    margin-left: 0px;
}

.closeBtn:hover{
    color:#fff;
    background-color: #24d;    
    cursor:pointer;
}

.finsMsg{
    font-size:28px;
}