.divCenter{
    text-align: center;
    -webkit-user-drag:none;
    -khtml-user-drag:none;
    user-select: none;
    width:1200px;
}

.title{
    margin: 50px auto;
    text-align: center;
    font-size: 80px;
}

img{
    width: 130px;
    height: 130px;
}

.mapArea{
    display: flex;
}

table{
    border-radius: 4px;
    border:3px solid #333;
    margin: 1px auto;
    cursor : url(./image/hammer.png), auto;
    float: center;
}

.subInfo{
    width:300px;
    text-align: left;
    font-size: 24px;
}

.StButton{
    font-size: 30px;
    font-weight: bold;
    padding:10px 30px;
    background-color:gainsboro;
    /*
    color:#fff;
    border-style: none;
    background-color: #24d;
    */
}

.StButton:hover{
    color:#fff;
    background-color: #24d;    
    cursor:pointer;
}

.Mas{
    width: 100px;
    height: 100px;
    border-radius: 4px;
    font-size: 80px;
    text-align: center;
}

.Message{
    text-align: center;
    font-size: 50px;   
}

.overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
}

.circle-start, .circle-stop{
    position:relative;
    width:120px;
    height:120px;
    background: #333;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    z-index:1;
}

.circle-start::before{
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:-60px;
    width: 120px;
    height:120px;
    background:#999;
    transform-origin:right 60px;
    z-index:2;
    animation:rotate-circle-left 30s linear forwards;
}

.circle-start::after{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 60px;
    width: 120px;
    height: 120px;
    background: #999;
    transform-origin: left 60px;
    z-index: 3;
    animation: rotate-circle-right 30s linear forwards; 
}

.circle-start .circle-inner, .circle-stop .circle-inner{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 62px;
    padding-top: 38px;
    background: #fff;
    border-radius: 50%;
    z-index: 4;
}

@keyframes rotate-circle-right {
    0%   {
        transform: rotate(0deg);
        background: #999;
    }
    50%  {
        transform: rotate(180deg);
        background: #999;
    }
    50.01% {
        transform: rotate(360deg);
        background: #333;
    }
    100% {
        transform: rotate(360deg);
        background: #333;
    }
}

@keyframes rotate-circle-left {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}